conda.enabled = true

process {
	withName: 'Flye' {
                conda = '/home/rahimlou/miniconda3/envs/Flye'
        }
	withName: 'SemiBin' {
                conda = '/home/rahimlou/miniconda3/envs/SemiBin'
        }
	withName: 'depth' {
		conda = '/home/rahimlou/.conda/envs/metabat2'
	}
	withName: 'metabat' {
		conda = '/home/rahimlou/.conda/envs/metabat2'
	}
	withName: 'BAT' {
		conda = '/home/rahimlou/miniconda3/envs/BAT'
	}
	withName: 'adding_names_BAT' {
                conda = '/home/rahimlou/miniconda3/envs/BAT'
        }
	withName: 'adding_names_CAT' {
                conda = '/home/rahimlou/miniconda3/envs/BAT'
        }
	withName: 'summarize_CAT' {
                conda = '/home/rahimlou/miniconda3/envs/BAT'
        }
	withName: 'assembly_stat' {
		conda = '/home/rahimlou/.conda/envs/gaas'
	}
	withName: 'CAT' {
                conda = '/home/rahimlou/miniconda3/envs/BAT'
        }
}