conda.enabled = true

process {
	withName: 'depth' {
		conda = '/home/MMC/.conda/envs/metabat2'
	}
	withName: 'metabat' {
		conda = '/home/MMC/.conda/envs/metabat2'
	}
	withName: 'concoct' {
		conda = '/nfs/turbo/lsa-tyjames/funannotate/metawrap-env'
	}
	withName: 'BAT' {
		conda = '/home/MMC/miniconda3/envs/BAT'
	}
	withName: 'adding_names_BAT' {
                conda = '/home/MMC/miniconda3/envs/BAT'
        }
	withName: 'adding_names_CAT' {
                conda = '/home/MMC/miniconda3/envs/BAT'
        }
	withName: 'summarize_CAT' {
                conda = '/home/MMC/miniconda3/envs/BAT'
        }
	withName: 'assembly_stat' {
		conda = '/home/MMC/.conda/envs/gaas'
	}
	withName: 'bins_abundance' {
		conda = '/nfs/turbo/lsa-tyjames/funannotate/metawrap-env'
	}
	withName: 'metaxa' {
		conda = '/home/MMC/miniconda3/envs/metaxa'
	}
	withName: 'CAT' {
                conda = '/home/MMC/miniconda3/envs/BAT'
        }
}